/* General CSS */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    /* Background Color */
    --bg-white: #fff;

    /* Text Colors */
    --primary-text: #061738;
    --secondary-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /* Font Family */
    --primary-font: "Barlow Condensed", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 8rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}

h3 {
    color: var(--text-white);
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
}

p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: 2rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404, #5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}

/* navbar css */
.header {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar {
    background: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
}

.navbar-brand {
    width: 7.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link {
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.header .navbar-toggler {
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header .header-right ul img {
    width: 2rem;
}

.header .header_right span {
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.header .header_right .phone_no {
    color: var(--text-white);
    font-size: 1.6rem;
}

.header .header_right a {
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    background-color: #13424a;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner Section */

.banner_section {
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.9),
            rgba(0, 0, 0, 0.1)
        ),
        url("../images/mabna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.banner_section .carousel-item {
    padding: 3rem 0;
    height: 90vh;
}

.banner_section .carousel-caption {
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}

.banner_section .carousel-caption h3 {
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    display: inline;
}

.banner_section .carousel-caption p {
    max-width: 40rem;
    margin-bottom: 2rem;
}

/* Media Query 991px */
@media (max-width: 991px) {
    /* 01 Navbar CSS */
    .header .navbar {
        background-size: cover;
        padding: 1rem 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }
}

/* Media Query 767px */
@media (max-width: 767px) {
    /* General CSS */
    body,
    html {
        font-size: 8px;
    }

    h1 {
        font-size: 8rem;
        line-height: 1.4;
        font-weight: 600;
        color: var(--primary-text);
    }

    /* Banner Section */
    .banner_section {
        min-height: 100vh;
    }

    .banner_section .carousel-item {
        height: 100vh;
    }
}

/* Media Query 590px */
@media (max-width: 590px) {
    /* General CSS */
    body,
    html {
        font-size: 7px;
    }
}
